
<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <form class="layui-form" action=" lay-filter="zoneForm"">
        <div class="layui-form-item">
            <label class="layui-form-label" >类目名称：</label>
            <div class="layui-input-block">
                <input type="text" name="class_name" value="{{d.params.class_name?d.params.class_name:''}}" style="width:300px;" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >备注说明：</label>
            <div class="layui-input-block">
                <textarea name="class_des" id="" cols="30" rows="10" style="width:280px;height:100px;padding:10px" lay-verify="required" placeholder="请输入内容">{{d.params.class_des?d.params.class_des:''}}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >菜单排序：</label>
            <div class="layui-input-block">
                <input type="number" name="class_sort" value="{{d.params.class_sort?d.params.class_sort:''}}" style="width:300px;" lay-verify="required" autocomplete="off" placeholder="请输入内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >状态：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_able" lay-skin="switch" lay-text="启用|禁用" lay-filter="" {{ d.params.is_able == 0 ? 'checked' : '' }}>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="width:200px;margin:0 auto;">
            <button type="submit" class="layui-btn" style="width:100%;" lay-submit="" lay-filter="submit">确定</button>
            </div>
        </div> 
    </form>  
</script>
    <script>
        layui.data.sendParams = function (params) {
            layui.use(['admin','form'], function () {
                var $ = layui.$;
                var admin = layui.admin;
                var form = layui.form;
                var class_index=''
                if(params.class_index){
                    class_index=params.class_index
                }
               form.render()
                //保存信息
                form.on('submit(submit)', function (data) {
                    if(data.field.is_able){
                        data.field.is_able='0'
                    }else{
                        data.field.is_able='1'
                    }
                    data.field.class_index=class_index
                    admin.req({
                        url: layui.setter.requestUrl + 'api.php?c=headline/addEditClassify',
                        data: data.field,
                        success: function (res) {
                            if (res.code == 0) {
                                layer.msg(res.msg);
                                layer.closeAll();
                                parent.layui.table.reload("table");
                            } else {
                                layer.msg(res.msg);
                            }
                        }
                    })
                    return false;
                })
            })
        }
    </script> 

