<style>
    .form .layui-form-label {
        width: 100px;
    }

    .form .layui-form-item .layui-input-inline {
        width: 400px;
    }

    .layui-table-cell {
        height: auto;
        vertical-align: middle;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>头条资讯</cite></a>
        <a><cite>投诉管理</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
                class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite
                id="addBook">点击收藏</cite></a>
    </div>
</div>

<div class="layui-tab layui-tab-brief" lay-filter="complaintTab">
    <ul class="layui-tab-title">
        <li class="layui-this">待处理</li>
        <li>已忽略</li>
        <li>已删除</li>
    </ul>


    <div class="layui-form layui-card-header layuiadmin-card-header-auto" style="background-color: #fff;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">搜索类型：</label>
                <div class="layui-input-inline">
                    <select name="key">
                        <option value="">请选择</option>
                        <option value="1">用户昵称</option>
                        <option value="2">头条名称</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="value" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:120px">投诉提交时间：</label>
                <div class="layui-input-inline">
                    <input type="text" name="time" class="layui-input" id="time" placeholder=" 开始时间-结束时间 ">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search6">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                </button>
            </div>
        </div>
    </div>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table class="layui-hide" id="complaintTable1" lay-filter="complaintTable1"></table>

        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="complaintTable2" lay-filter="complaintTable2"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="complaintTable3" lay-filter="complaintTable3"></table>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use('checkTask', layui.factory('checkTask'));
    layui.use('complaint', layui.factory('complaint'));
</script>