<style>
    .layui-table-cell {
        display: block;
        height: auto !important;
        line-height: 20px !important;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>平台订单管理</cite></a>
        <a><cite>换修货订单</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
                class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite
                id="addBook">点击收藏</cite></a>
    </div>
</div>
<div class="layui-tab layui-tab-brief" lay-filter="tab">
    <ul class="layui-tab-title">
        <li class="layui-this status1">待审核</li>
        <li class="status2">审核未通过</li>
        <li class="status3">待退货</li>
        <li class="status4">待收货</li>
        <li class="status5">维修中/换货中</li>
        <li class="status6">待发货</li>
        <li class="status7">已发货</li>
        <li class="status8">已完成</li>
    </ul>
    <div class="layui-form layui-card-header layuiadmin-card-header-auto form" style="background: #fff;margin:10px 0">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">搜索类型：</label>
                <div class="layui-input-inline">
                    <select name="type" lay-filter="type">
                        <option value="">全部</option>
                        <option value="1">订单编号</option>
                        <option value="2">售后编号</option>
                        <option value="3">用户手机号</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="order_name" style="width:200px;" autocomplete="off" placeholder="请输入内容"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商户名称：</label>
                <div class="layui-input-inline">
                    <input type="text" name="supplier_name" style="width:200px;" autocomplete="off" placeholder="请输入内容"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">时间筛选：</label>
                <div class="layui-input-inline">
                    <input type="text" name="time" class="layui-input" id="time" placeholder=" 开始时间-结束时间 ">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search1">
                    搜索
                </button>
            </div>
        </div>
    </div>

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table class="layui-hide" id="exchangeTable1" lay-filter="exchangeTable1"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="exchangeTable2" lay-filter="exchangeTable2"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="exchangeTable3" lay-filter="exchangeTable3"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="exchangeTable4" lay-filter="exchangeTable4"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="exchangeTable5" lay-filter="exchangeTable5"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="exchangeTable6" lay-filter="exchangeTable6"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="exchangeTable7" lay-filter="exchangeTable7"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="exchangeTable8" lay-filter="exchangeTable8"></table>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use('exchangeList', layui.factory('exchangeList'));
</script>