<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <ul class="layui-timeline timeline">

    </ul>
</script>
<script>
    layui.data.sendParams = function (params) {
        layui.use(['admin', 'element', 'table', 'public'], function () {
            var $ = layui.$;
            var admin = layui.admin;
            var table = layui.table;
            var tool = layui.public.tool;
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=order/checkLogistics',
                data: {
                    number: params.express_number
                },
                success: function (res) {
                    if(res.code==0){
                        res.data.forEach(item => {
                            $('.timeline').append(`
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title">${item.time}</h3>
                                        <p>${item.status}</p>
                                    </div>
                                </li>
                            `)
                        });
                        
                    }
                }
            })

        })
    }
</script>