<style>
    .delVideo {
        position: absolute;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 50%;
        top: -10px;
        right: -10px;
        cursor: pointer;
    }
</style>
<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <form class="layui-form form" style="margin-top: 20px;width: 760px">
        <div class="layui-form-item">
            <div class="layui-form-item">
                <label class="layui-form-label">是否上线</label>
                <div class="layui-input-inline status" style="width:100px;">
                    <input type="checkbox" name="status" lay-skin="switch">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示位置</label>
            <div class="layui-input-inline">
                <select name="region" lay-verify="required" class="local1">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示标签</label>
            <div class="layui-input-inline">
                <select name="tags" class="tags">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline tag_show" style="width:380px;background:rgba(245, 245, 245, 1);padding:10px">
                <input type="radio" name="tag_show" value="1" title="该标签用户可见" checked="">
                <input type="radio" name="tag_show" value="0" title="该标签用户不可见">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择地区：</label>
            <div class="layui-input-inline" style="width:200px">
                <select name="province" class="province" lay-filter="province">
                    <option value="">请选择省</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width:200px">
                <select name="city" class="city" lay-filter="city">
                    <option value="">请选择市</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width:200px">
                <select name="country" class="country" lay-filter="country">
                    <option value="">请选择县/区</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline area_show"
                style="width:380px;background:rgba(245, 245, 245, 1);padding:10px">
                <input type="radio" name="area_show" value="1" title="该地区用户可见" checked="">
                <input type="radio" name="area_show" value="0" title="该地区用户不可见">
            </div>
        </div>
        <div class="id1" style="display:none">
            <div class="layui-form-item banner_type" id="1">
                <label class="layui-form-label">跳转类型</label>
                <div class="layui-input-inline">
                    <div style="margin-top:8px">点击此图跳转至外部链接</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">外部链接</label>
                <div class="layui-input-inline">
                    <input type="text" name="url" value="{{d.params.url || ''}}" placeholder="如：http://www.baidu.com"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline" style="color:rgba(212, 48, 48, 1)">
                    提示：点击图片可跳转到此链接
                </div>
            </div>
        </div>
        <div class="id2" style="display:none">
            <div class="layui-form-item banner_type" id="2">
                <label class="layui-form-label">跳转类型</label>
                <div class="layui-input-inline">
                    <div style="margin-top:8px">点击此图不做任何跳转</div>
                </div>
            </div>

        </div>
        <div class="id3" style="display:none">
            <div class="layui-form-item banner_type" id="3">
                <label class="layui-form-label">跳转类型：</label>
                <div class="layui-input-inline">
                    <select name="jump_type" class="jump" lay-filter="jump_type">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item explain" style="display:none">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline" style="width:280px;background:rgba(245, 245, 245, 1);padding:10px">
                    <div class="explain1"></div>
                    <div class="explain2"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">跳转参数：</label>
                <div class="layui-input-inline">
                    <input type="text" name="jump_parameter" value="{{d.params.jump_parameter || ''}}"
                        placeholder="请显示跳转参数" autocomplete="off" class="layui-input parameter">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">轮播视频描述：</label>
            <div class="layui-input-inline">
                <input type="text" name="banner_des" value="{{d.params.banner_des||''}}"
                    placeholder="请用一句话对轮播视频进行描述（非必填）" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">排序值：</label>
            <div class="layui-input-inline">
                <input name="sort" lay-verify="required" value="{{d.params.sort||''}}" placeholder="数字越小，轮播视频显示越靠前"
                    autocomplete="off" class="layui-input"></input>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上线时间</label>
            <div class="layui-input-inline">
                <input type="text" name="time" class="layui-input" id="time1" placeholder="请选择上线时间">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline" style="color:rgba(212, 48, 48, 1)">
                不填时根据上线状态上下线，填写时间后则需要上线状态和时间两个条件都成立才上线。
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">上传视频</label>
            <div class="layui-upload layui-input-inline" style="width:230px;position:relative">
                <img src="../src/images/upImg.png" id="test" style="width:230px;height:90px;cursor:pointer"></img>
                <video src="" controls="controls" style="width:230px;height:90px;display:none" class="video"></video>
                <div class="delVideo" style="display:none">×</div>
            </div>
            <div style="color:rgba(212, 48, 48, 1);display:inline-block">
                <p>1.建议视频比例为4：3</p>
                <p>2.大小不超过20M </p>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">上传封面</label>
            <div class="layui-upload layui-input-inline" style="width:230px">
                <img src="../src/images/upImg.png" id="test1" style="width:230px;height:90px;cursor:pointer"></img>
            </div>
            <div style="color:rgba(212, 48, 48, 1);display:inline-block">
                <p>1.建议视频比例为4：3</p>
                <p>2.建议图片尺寸:690*920</p>
                <p>3.上传图片不大于5M </p>
            </div>
        </div>
        <div style="padding-bottom: 10px;text-align:center;margin-top:30px">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
        </div>
    </form>
</script>
<script>
    layui.data.sendParams = function (params) {
        layui.use(['admin', 'element', 'view', 'form', 'public', 'upload', 'laydate'], function () {
            var $ = layui.$;
            var admin = layui.admin;
            var element = layui.element;
            var view = layui.view;
            var form = layui.form;
            var laydate = layui.laydate;
            var upload = layui.upload;
            var public = layui.public;
            var tool = layui.public.tool;
            var xmSelect = layui.xmSelect;
            var tagNames = [],
                video_cover = '',
                video_url = ''
            if (params.id) {
                $('.status').empty()
                $('.tag_show').empty()
                $('.area_show').empty()
                showType()
                //开启省市区三级联动
                tool.linkage({
                    province: 'province',
                    city: 'city',
                    county: 'country',
                    provinceId: params.province,
                    cityId: params.city,
                    countyId: params.country
                });
                if (params.status == '2') {
                    $('.status').append(
                        `<input type="checkbox" name="order_button" lay-skin="switch" lay-text="ON|OFF">`
                        )
                } else {
                    $('.status').append(
                        `<input type="checkbox" name="order_button" lay-skin="switch" lay-text="ON|OFF" checked="">`
                        )
                }
                if (params.tag_show == '1') {
                    $('.tag_show').append(`<input type="radio" name="tag_show" value="1" title="该标签用户可见" checked="">
                                            <input type="radio" name="tag_show" value="0" title="该标签用户不可见">`)
                } else {
                    $('.tag_show').append(
                        `<input type="radio" name="tag_show" value="1" title="该标签用户可见">
                                            <input type="radio" name="tag_show" value="0" title="该标签用户不可见" checked="">`)
                }
                if (params.area_show == '1') {
                    $('.area_show').append(`<input type="radio" name="area_show" value="1" title="该地区用户可见" checked="">
                                            <input type="radio" name="area_show" value="0" title="该地区用户不可见">`)
                } else {
                    $('.area_show').append(
                        `<input type="radio" name="area_show" value="1" title="该地区用户可见" >
                                            <input type="radio" name="area_show" value="0" title="该地区用户不可见" checked="">`)
                }
                $('#time1').val(layui.common.createTime1(params.time))
                $('.video').css('display', 'block')
                $('.delVideo').css('display', 'block')
                $('#test').css('display', 'none')
                $('#test1').attr('src', layui.setter.CDN + params.video_cover)
                $('.video').attr('src', layui.setter.CDN + params.video_url)
                video_url = params.video_url
                video_cover = params.video_cover
            }
            //根据跳转类型显示不同的内容
            //跳转链接
            if (params.jump_id == 2 || params.banner_type == '2') {
                $('.id1').css('display', 'block')
                $('.id2').css('display', 'none')
                $('.id3').css('display', 'none')
            }
            //无跳转
            if (params.jump_id == 1 || params.banner_type == '1') {
                $('.id2').css('display', 'block')
                $('.id1').css('display', 'none')
                $('.id3').css('display', 'none')
            }
            //跳转页面
            if (params.jump_id == 3 || params.banner_type == '3') {
                $('.id3').css('display', 'block')
                $('.id1').css('display', 'none')
                $('.id2').css('display', 'none')
                showType()
            }
            //开启省市区三级联动
            tool.linkage({
                province: 'province',
                city: 'city',
                county: 'country',
                success: function (province, city, county) {

                }
            });
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=banner/region/getRegionList',
                success: function (res) {
                    if (res.code == 0) {
                        $('.local1').empty()
                        $('.local1').append(`<option value="">请选择</option>`)
                        var dataList = res.data
                        dataList.forEach(items => {
                            if (params.region == items.id) {
                                $('.local1').append(`
                                        <option value="${items.id}" selected>${items.banner_region_name}</option>
                                    `)
                            } else {
                                $('.local1').append(`
                                        <option value="${items.id}">${items.banner_region_name}</option>
                                    `)
                            }
                        });
                        layui.form.render("select");
                    }
                }
            })
            //显示标签
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=goods_tag/getGoodsTagList',
                data: {
                    is_able: '0'
                },
                success: function (res) {
                    if (res.code == 0) {
                        var data = res.data
                        $('.tags').empty()
                        $('.tags').append(`
                                <option value="" selected>请选择</option>
                            `)
                        data.forEach(items => {
                            if (params.tags == items.tag_index) {
                                $('.tags').append(`
                                        <option value="${items.tag_index}" selected>${items.tag_name}</option>
                                    `)
                            } else {
                                $('.tags').append(`
                                        <option value="${items.tag_index}">${items.tag_name}</option>
                                    `)
                            }
                        })
                        layui.form.render("select");
                    }
                }
            })

            function showType() {
                //跳转类型
                admin.req({
                    url: layui.setter.requestUrl + 'api.php?c=banner/jump/getJumpTypeList',
                    success: function (res) {
                        if (res.code == 0) {
                            jump_type_list = res.data
                            jump_type_list.forEach(item => {
                                if (params.jump_type == item.id) {
                                    $('.jump').append(`
                                            <option value="${item.id}" selected>${item.jump_type_name}</option>
                                        `)
                                } else {
                                    $('.jump').append(`
                                            <option value="${item.id}">${item.jump_type_name}</option>
                                        `)
                                }
                            });
                            layui.form.render("select");
                        }
                    }
                })
            }
            //选择跳转类型显示跳转参数说明
            form.on('select(jump_type)', function (data) {
                jump_type_list.forEach(item => {
                    if (data.value == item.id) {
                        $('.explain').css('display', 'block')
                        $('.explain1').html('参数说明' + '：' + item.jump_parameter_des)
                        $('.explain2').html('跳转类型说明' + '：' + item.jump_type_des)
                    }
                })
            })
            form.render()
            // 上传视频
            public.uploadVideo({
                elem: '#test',
                url: layui.setter.requestUrl + 'api.php?c=uploadImg/uploadImage',
                data: {
                    module: 'video',
                },
                getTimes: function (time) {
                    console.log(time); //对象
                },
                done: function (res, index, upload) {
                    console.log(11111);
                    console.log(res);
                    video_url = res.data
                    $('#test').css('display', 'none')
                    $('.video').css('display', 'block')
                    $('.video').attr('src', layui.setter.CDN + res.data)
                    $('.delVideo').css('display', 'block')
                }
            })
            $('.delVideo').click(function () {
                video_url = ''
                $('#test').css('display', 'block')
                $('.video').css('display', 'none')
                $('.delVideo').css('display', 'none')
            })
            //上传封面
            upload.render({
                elem: '#test1',
                url: layui.setter.requestUrl + 'api.php?c=uploadImg/uploadImage' //改成您自己的上传接
                    ,
                multiple: false,
                data: {
                    module: ''
                },
                before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#test1').attr('src', result)
                    });
                },
                done: function (res) {
                    //上传完毕
                    if (res.code == 0) {
                        layer.msg('上传成功')
                        video_cover = res.data
                    } else {
                        layer.msg('上传失败')
                    }
                }
            });
            //时间选择
            laydate.render({
                elem: '#time1', //指定元素
            });
            form.on('submit(formDemo)', function (data) {
                if (video_url == '') {
                    layer.msg('请上传视频')
                    return false;
                } else if (video_cover == '') {
                    layer.msg('请上传视频封面图')
                    return false;
                } else {
                    var data = data.field
                    delete data.file
                    var date = new Date(data.time);
                    data.time = date.getTime() / 1000

                    data.video_cover = video_cover;
                    data.video_url = video_url;
                    data.content_type = '2';
                    console.log(data);
                    if (data.status == 'on') {
                        data.status = '1'
                    } else {
                        data.status = '2'
                    }
                    if (params.id) {
                        data.id = params.id
                        data.banner_type = params.banner_type
                    } else {
                        data.banner_type = params.jump_id
                    }
                    admin.req({
                        url: layui.setter.requestUrl + 'api.php?c=banner/addBanner',
                        data: data,
                        success: function (res) {
                            if (res.code == 0) {
                                layer.msg('添加成功', {
                                    icon: 1
                                })
                                layer.closeAll('page')
                                parent.layui.table.reload("table1");
                            }
                        }
                    })
                    return false;

                }
            })

        })

    }
</script>