<style>
    .ul {
        width: 100%;
        height: 100%;
    }
    
    .layui-layer-content {
        padding: 0 20px;
    }
</style>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>系统配置</cite></a>
        <a><cite>帮助中心显示位置</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
            class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite id="addBook">点击收藏</cite></a>
    </div>
</div>
<!--表格-->
<div style="margin-left: 35px;margin-top:35px;">
    <button class="layui-btn layui-btn-danger" id="addRegion">添加</button>
    <table class="layui-table" lay-filter="helpTable">
        <thead>
            <tr>
                <th lay-data="{field:'id', align:'center',sort:'true'}">序号</th>
                <th lay-data="{field:'help_region_name', align:'center'}">位置名称</th>
                <th lay-data="{field:'help_region_tag', align:'center'}">位置标识</th>
                <th lay-data="{field:'help_region_desc', align:'center'}">位置描述</th>
                <th lay-data="{fixed: 'right',align:'center',templet:function(row){
                return `
                        <a class='layui-btn layui-btn-sm layui-btn-danger' lay-event='edit'>编辑</a>
                        <a class='layui-btn layui-btn-sm layui-btn-danger' lay-event='del'>删除</a>`
            }}">操作</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    var token = layui.data('ShptMapi').access_token
    var tableOptions = {
        url: layui.setter.requestUrl + "api.php?c=help/help_region/getHelpRegionList", //后端请求数据地址
        method: 'GET', //方式
        id: 'helpTable', //生成table的标识id，必须提供，用于搜索刷新操作
        page: true, //是否分页
        limit: 10, //每页显示多少条数据
        dataType: 'json',
        where: {
            access_token: token
        }
    };
    layui.use(['form', 'table', 'element', 'layer', 'admin', 'upload', 'common'], function() {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            admin = layui.admin,
            upload = layui.upload,
            IsshowAnNiu = layui.common.IsshowAnNiu;
        var menuPermissions = IsshowAnNiu('addviews');
        //表格初始化
        table.init('helpTable', tableOptions);
        //添加
        $('#addRegion').click(function() {
                r_id = undefined;
                var views = addView({
                    help_region_name: '',
                    help_region_tag: '',
                    help_region_desc: ''
                })
                layer.open({
                    type: 1,
                    title: '添加显示位置',
                    area: ['500px', '300px'],
                    shadeClose: true, //点击遮罩关闭
                    content: views,
                    success: function() {
                        form.render()
                    }
                });
            })
            //table表格的事件
        table.on('tool(helpTable)', function(obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            r_id = data.id;
            if (layEvent === 'edit') {
                var views = addView(data)
                layer.open({
                    type: 1,
                    title: '编辑显示位置',
                    area: ['500px', '300px'],
                    shadeClose: true, //点击遮罩关闭
                    content: views,
                    success: function() {
                        form.render()
                    }
                });
            } else if (layEvent === 'del') {
                layer.confirm('确定删除么，删除后不可恢复', {
                    title: '删除'
                }, function(index) {
                    admin.req({
                        url: layui.setter.requestUrl + 'api.php?c=help/help_region/delHelpRegion',
                        data: {
                            id: data.id
                        },
                        done: function(res) {
                            layer.msg(res.msg, {
                                icon: 1
                            });
                            table.init('helpTable', tableOptions);
                        }
                    });
                });
            }
        });
        form.on('submit(formDemo)', function(data) {
            if (typeof r_id != "undefined") {
                data.field.id = r_id;
            }
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=help/help_region/addHelpRegion',
                type: 'get',
                data: data.field,
                done: function(res) {
                    if (res.code == 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        });
                        table.init('helpTable', tableOptions);
                        layer.closeAll('page'); //关闭所有页面层
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                }
            });
            return false
        })

        // 添加/修改视图
        function addView(data) {

            return `<form class="layui-form"  style="margin-top: 20px;">
                        <div class="layui-form-item ">
                            <label class="layui-form-label" style="width:100px;">位置名称</label>
                            <div class="layui-input-inline" style="width:250px;">
                                <input type="text" name="help_region_name" placeholder="请输入位置名称" value="${data.help_region_name}" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:100px;">位置标识</label>
                            <div class="layui-input-inline" style="width:250px;">
                                <input type="text" name="help_region_tag" placeholder="请输入位置标识" value="${data.help_region_tag}" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:100px;">位置描述</label>
                            <div class="layui-input-inline" style="width:250px;">
                                <input type="text" name="help_region_desc" placeholder="请输入位置描述" value="${data.help_region_desc}" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div style="padding-bottom: 10px;text-align:center;margin-top:30px">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                        </div>
                    </form>`

        }
    });
</script>