<style>
    .ul {
        width: 100%;
        height: 100%;
    }
    
    .layui-layer-content {
        padding: 0 20px;
    }
</style>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>新闻公告</cite></a>
        <a><cite>新闻公告显示位置管理</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
                class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite
                id="addBook">点击收藏</cite></a>
    </div>
</div>
<!--表格-->
<div style="margin-left: 35px;margin-top:35px;">
    <button class="layui-btn layui-btn-danger" id="addRegion">添加</button>
    <table class="layui-table" lay-filter="tableData">
        <thead>
            <tr>
                <th lay-data="{field:'id',width:80, align:'center',sort:'true'}">id</th>
                <th lay-data="{field:'news_region_name',width:200, align:'center'}">显示位置</th>
                <th lay-data="{field:'news_region_tag', width:200,align:'center'}">位置标识</th>
                <th lay-data="{field:'news_region_desc',width:200, align:'center'}">位置描述</th>
                <th lay-data="{fixed: 'right', align:'center',templet:function(row){
                return `<a class='layui-btn layui-btn-sm layui-btn-danger' lay-event='edit'>编辑</a>
                <a class='layui-btn layui-btn-sm layui-btn-danger' lay-event='del'>删除</a>`
            }}">操作</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    var token = JSON.parse(localStorage.getItem('ShptMapi')).access_token
    var tableOptions = {
        url: layui.setter.requestUrl + "api.php?c=news/news_region/getNewsRegionList", //后端请求数据地址
        method: 'GET', //方式
        id: 'tabelReload', //生成table的标识id，必须提供，用于搜索刷新操作
        page: true, //是否分页
        limit: 10, //每页显示多少条数据
        dataType: 'json',
    };
    layui.use(['form', 'table', 'element', 'layer', 'admin', 'upload'], function() {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            upload = layui.upload,
            admin = layui.admin;

        //表格初始化
        table.init('tableData', tableOptions);
        //添加
        $('#addRegion').click(function() {
            n_id = undefined;
            var views = addView({
                news_region_name: '',
                news_region_tag: '',
                news_region_desc: '',
            })
            layer.open({
                type: 1,
                title: '添加显示位置',
                area: ['500px', '400px'],
                shadeClose: true, //点击遮罩关闭
                content: views,
                success: function() {

                }
            });
        })

        //table表格的事件
        table.on('tool(tableData)', function(obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            n_id = data.id;
            if (layEvent === 'edit') {
                var views = addView(data)
                layer.open({
                    type: 1,
                    title: '编辑显示位置',
                    area: ['500px', '400px'],
                    shadeClose: true, //点击遮罩关闭
                    content: views,
                    success: function() {

                    }
                });
            } else {
                layer.confirm('确定删除么，删除后不可恢复', {
                    title: '删除'
                }, function(index) {
                    admin.req({
                        url: layui.setter.requestUrl + 'api.php?c=news/news_region/delNewsRegion',
                        data: {
                            id: data.id
                        },
                        done: function(res) {
                            layer.msg(res.msg, {
                                icon: 1
                            });
                            table.init('tableData', tableOptions);
                        }
                    });
                });
            }
        });


        form.on('submit(formDemo)', function(data) {
            if (typeof n_id != "undefined") {
                data.field.id = n_id;
            }
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=news/news_region/addNewsRegion',
                type: 'get',
                data: data.field,
                done: function(res) {
                    if (res.code == 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        });
                        table.init('tableData', tableOptions);
                        layer.closeAll('page'); //关闭所有页面层
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                }
            });
            return false
        })

        // 添加/修改视图
        function addView(data) {
            return `
                <form class="layui-form">
                    <div style="margin:20px 0" >
                        <label class="layui-form-label">位置名称：</label>
                        <div class="layui-input-inline" class="layui-form-item">
                            <input type="text" lay-verify="required" name="news_region_name" value="${data.news_region_name}" placeholder="请输入位置名称" autocomplete="off" class="layui-input sfName">
                        </div>
                    </div>

                    <div>
                        <label class="layui-form-label">位置标识：</label>
                        <div class="layui-input-inline" class="layui-form-item">
                            <input type="text" lay-verify="required" name="news_region_tag" value="${data.news_region_tag}"  placeholder="请输入位置标识"  autocomplete="off" class="layui-input spNum">
                        </div>
                    </div>

                    <div style="margin-top:20px">
                        <label class="layui-form-label">位置描述：</label>
                        <div class="layui-input-inline" class="layui-form-item">
                            <textarea name="news_region_desc" required lay-verify="required" placeholder="请输入位置描述" class="layui-textarea">${data.news_region_desc}</textarea>
                        </div>
                    </div>
                    <div style="padding-bottom: 10px;text-align:center;margin-top:30px">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                    </div>
                </form>`;
        }
    });
    layui.use('checkTask', layui.factory('checkTask'));
</script>