<style>
    .layui-layer-admin .layui-layer-content {
        padding: 0 20px!important;
    }
    
    .layui-form-item .layui-input-inline {
        width: 100px;
    }
    
    .del {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -3px;
        right: -10px;
        border-radius: 50%;
        border: 1px solid #ccc;
    }
    
    #layui-layer-shade1 {
        z-index: 1111!important;
    }
    
    .layui-layer-shade {
        z-index: 1111!important;
    }
    
    .layui-layer-admin {
        z-index: 1111!important;
    }
    
    .tab {
        display: flex;
        padding: 20px;
    }
    
    .tab>div {
        width: 200px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        cursor: pointer;
    }
    
    .tab .current {
        color: rgba(42, 130, 228, 1);
        border-bottom: 1px solid rgba(42, 130, 228, 1);
    }
</style>
<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <div class="tab">
        <div class="current">基本信息</div>
        <div>品牌简介</div>
        <div>品牌历程</div>
        <div>团队介绍</div>
    </div>

    <div class=" show1">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">品牌名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="brand_name" value="{{d.params.brand_name || ''}}" style="width:300px;" placeholder="请输入品牌名称" class="layui-input brand_name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌logo：</label>
                <div class="layui-upload layui-input-inline">
                    <img src="/ShptControl/src/images/upImg.png" class="layui-upload-img" id="uploadLogo" style='width:96px;height:96px;cursor: pointer;'>
                </div>
                <div style="color:rgba(212, 48, 48, 1);display:inline-block">
                    <p>提示：建议图片尺寸100*100</p>
                    <p>支持png、jpg格式</p>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌封面：</label>
                <div>
                    <button type="button" class="layui-btn" id="uploadPic">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                    <button type="button" class="layui-btn" id="reviewImg">
                        查看已上传的图片
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div style="color:rgba(212, 48, 48, 1);display:inline-block">
                    <p>提示：建议图片尺寸1920*1080</p>
                    <p>比例为16:9，最多上传5张</p>
                    <p>支持png、jpg格式</p>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌视频：</label>
                <div class="layui-upload layui-input-inline">
                    <img src="/ShptControl/src/images/upImg.png" class="layui-upload-img" id="uploadVideo" style='width:200px;height:130px;cursor: pointer;'>
                    <div style='width:200px;height:130px;cursor: pointer;display:none;position:relative' class="showVideo">
                        <video src="" style='width:200px;height:130px;' controls="controls"></video>
                        <img src="/ShptControl/src/images/cc.png" alt="" class="del">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div style="color:rgba(212, 48, 48, 1);display:inline-block">
                    <p>提示：建议视频比例为16:9</p>
                    <p>视频和视频封面一起上传或者都不传</p>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">视频封面：</label>
                <div class="layui-upload layui-input-inline" style="width:200px">
                    <img src="/ShptControl/src/images/upImg.png" class="layui-upload-img" id="videoUploadImg" style='width:200px;height:130px;cursor: pointer;'>
                </div>
                <div style="color:rgba(212, 48, 48, 1);display:inline-block">
                    <p>提示：建议图片尺寸1920*1080</p>
                    <p>比例为16:9</p>
                    <p>支持png、jpg格式</p>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:200px;margin:0 auto;">
                    <button type="submit" class="layui-btn btnSure1" style="width:100%;">下一步</button>
                </div>
            </div>
        </form>
    </div>
    <div class="show2" style="display:none">
        <div id="brand_desp"></div>
        <div style="display:flex;justify-content: center;margin-top:50px">
            <button type="button" class="layui-btn btnSure4">上一步</button>
            <button type="button" class="layui-btn btnSure2">下一步</button>
        </div>
    </div>
    <div class="show3" style="display:none">
        <div id="brand_history"></div>
        <div style="display:flex;justify-content: center;margin-top:50px">
            <button type="button" class="layui-btn btnSure5">上一步</button>
            <button type="button" class="layui-btn btnSure3">下一步</button>
        </div>
    </div>
    <div class="show4" style="display:none">
        <div id="team_des"></div>
        <div style="display:flex;justify-content: center;margin-top:50px">
            <button type="button" class="layui-btn btnSure6">上一步</button>
            <button type="button" class="layui-btn submit">保存</button>
        </div>
    </div>
</script>
<script>
    layui.data.sendParams = function(params) {
        layui.use(['admin', 'element', 'upload', 'form', 'public'], function() {
            var $ = layui.$;
            var admin = layui.admin;
            var element = layui.element;
            var upload = layui.upload;
            var form = layui.form;
            var public = layui.public;
            var uplode_house = [];
            var brand_index = ''; //
            var brand_cover = ''; //品牌封面
            var brand_logo = ''; //品牌logo
            var video_pic = ''; //视频封面
            var video_url = ''; //视频地址
            var base = new layui.public.Base64();
            if (params.brand_index) {
                var brand_index = params.brand_index
                    //反显
                brand_logo = params.brand_logo
                $('#uploadLogo').attr("src", layui.setter.CDN + params.brand_logo);
                if (params.video_url != '') {
                    $('.showVideo').css('display', 'block')
                    $('#uploadVideo').css('display', 'none')
                    $('.showVideo video').prop("src", layui.setter.CDN + params.video_url);
                    $('#videoUploadImg').attr("src", layui.setter.CDN + params.video_pic);
                    video_url = params.video_url
                    video_pic = params.video_pic
                }
                uplode_house = params.brand_cover
                brand_cover = params.brand_cover
                $('.del').click(function() {
                    video_url = ''
                    $('.showVideo').css('display', 'none')
                    $('#uploadVideo').css('display', 'block')
                })
                $('#brand_desp').html(base.decode(params.brand_desp_base))
                $('#brand_history').html(base.decode(params.brand_history_base))
                $('#team_des').html(base.decode(params.team_des_base))
            }


            var edit1 = new layui.public.Edit({
                el: '#brand_desp',
            })
            var edit2 = new layui.public.Edit({
                el: '#brand_history',
            })
            var edit3 = new layui.public.Edit({
                el: '#team_des',
            })

            $('.submit').click(function() {
                if ($('.brand_name').val() == '') {
                    layer.msg('请输入品牌名称')
                    return false;
                };
                if (brand_logo == '') {
                    layer.msg('请上传品牌logo')
                    return false;
                };
                if (brand_cover == '') {
                    layer.msg('请上传品牌封面')
                    return false;
                };
                if (video_pic != '' && video_url == '') {
                    layer.msg('请上传视频')
                    return false;
                };
                if (video_pic == '' && video_url != '') {
                    layer.msg('请上传视频封面')
                    return false;
                };
                brand_desp = edit1.getContent(0);
                brand_history = edit2.getContent(1);
                team_des = edit3.getContent(2);
                if (brand_desp == '') {
                    layer.msg('请输入品牌简介')
                    return false;
                }
                if (brand_history == '') {
                    layer.msg('请输入品牌历程')
                    return false;
                }
                if (team_des == '') {
                    layer.msg('请输入团队介绍')
                    return false;
                }
                admin.req({
                    url: layui.setter.requestUrl + 'api.php?c=brand/addEditBrand',
                    data: {
                        brand_name: $('.brand_name').val(),
                        brand_logo: brand_logo,
                        brand_cover: brand_cover,
                        video_pic: video_pic,
                        video_url: video_url,
                        brand_desp: brand_desp,
                        brand_history: brand_history,
                        team_des: team_des,
                        brand_index: brand_index
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            layer.msg(res.msg);
                            layer.closeAll();
                            parent.layui.table.reload("brandTable");
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                })
            });
            //品牌logo
            upload.render({
                elem: '#uploadLogo',
                url: layui.setter.requestUrl + 'api.php?c=uploadImg/uploadImage',
                data: {
                    module: 'brand'
                },
                drag: true,
                before: function() {
                    layer.load();
                },
                done: function(res, index, upload) { //上传后的回调
                    layer.closeAll('loading'); //关闭loading
                    if (res.code == 0) {
                        $('#uploadLogo').attr("src", layui.setter.CDN + res.data);
                        brand_logo = res.data
                    } else {
                        layer.msg(res.msg);
                    };
                }
            });
            //品牌封面
            $('#uploadPic').on('click', function() {
                layer.open({
                    type: 1,
                    title: '上传品牌封面',
                    area: ['600px', '500px'],
                    content: ` 
                            <div style="padding:10px;">            
                            <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="test2">多图片上传</button> 
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        预览图：
                                        <div class="layui-upload-list" id="demo2" style="display:flex;flex-wrap:wrap;"></div>
                                    </blockquote>
                                </div>
                                <div class="layui-form-item" style="width:200px;margin:30px auto;">
                                    <button type="submit" style="width:100%;" class="layui-btn determine" lay-submit="">确定</button>
                                </div>
                            </div>`, //这里content是一个普通的String
                    success: function(lay, index) {
                        var arr = [];
                        if (uplode_house.length != 0) {
                            arr = uplode_house.split(',');
                            arr.forEach(item => {
                                $('#demo2').append(`
                                    <div style="display:flex;flex-direction:column;align-items:center;" class="imgList">
                                    <div style="width:92px;height:92px;overflow: hidden;margin:10px;">
                                    <img src="${layui.setter.CDN + item}" style="height:100%;" class="layui-upload-img">
                                    </div>
                                    <button type="error"  class="layui-btn delImg" lay-submit="">删除</button>
                                    </div>
                                `)
                            })
                        }
                        //多图片上传
                        var load = ''
                        upload.render({
                            elem: '#test2',
                            url: layui.setter.requestUrl + 'api.php?c=uploadImg/uploadImage' //改成您自己的上传接口
                                ,
                            data: {
                                module: 'pic',
                                access_token: layui.data('layuiAdmin').access_token
                            },
                            multiple: true,
                            number: '5',
                            before: function(obj) {
                                load = layer.load(1);
                                if (arr.length < 5) {
                                    //预读本地文件示例，不支持ie8
                                    obj.preview(function(index, file, result) {
                                        $('#demo2').append(`
                                                <div style="display:flex;flex-direction:column;align-items:center;" class="imgList">
                                                    <div style="width:92px;height:92px;overflow: hidden;margin:10px;">
                                                    <img src="${result}" alt="${file.name}" style="height:100%;" class="layui-upload-img">
                                                    </div>
                                                    <button type="error"  class="layui-btn delImg" lay-submit="">删除</button>
                                                </div>
                                    `)
                                    });
                                } else {
                                    layer.msg('最多上传五张图片');
                                }
                            },
                            done: function(res) {
                                layer.close(load);
                                if (arr.length < 5) {
                                    arr.push(res.data);
                                }
                            }
                        });
                        $('.determine').on('click', function() {
                            brand_cover = arr.join(',');
                            uplode_house = arr.join(',');
                            layer.close(index);
                        })
                        $('#demo2').on('click', '.delImg', function() {
                            var subscript = $(this).parent('.imgList').index();
                            $(this).parent('.imgList').remove();
                            arr.splice(subscript, 1);
                        })
                    }
                });
            });
            //查看已上传的图片
            $('#reviewImg').click(function() {
                if (brand_cover) {
                    layui.public.tool.lookBigImg(brand_cover.split(','));
                } else {
                    layer.msg('暂无上传图片');
                }
            });
            //视频
            upload.render({
                elem: '#uploadVideo',
                url: layui.setter.requestUrl + '/api.php?c=uploadImg/uploadImage',
                accept: 'video' //视频
                    ,
                data: {
                    module: 'brand'
                },
                before: function() {
                    layer.load();
                },
                drag: true,
                done: function(res, index, upload) { //上传后的回调
                    if (res.code == 0) {
                        $('#uploadVideo').css('display', 'none')
                        $('.showVideo').css('display', 'block');
                        $('.showVideo video').prop("src", layui.setter.CDN + res.data);
                        video_url = res.data
                        layer.closeAll('loading');
                    } else {
                        layer.msg(res.msg);
                    };
                }
            });
            $('.del').click(function() {
                    video_url = ''
                    $('.showVideo').css('display', 'none')
                    $('#uploadVideo').css('display', 'block')
                })
                //视频封面
            upload.render({
                elem: '#videoUploadImg',
                url: layui.setter.requestUrl + '/api.php?c=uploadImg/uploadImage',
                data: {
                    module: 'brand'
                },
                before: function() {
                    layer.load();
                },
                drag: true,
                done: function(res, index, upload) { //上传后的回调
                    if (res.code == 0) {
                        layer.closeAll('loading');
                        video_pic = res.data
                        $('#videoUploadImg').attr("src", layui.setter.CDN + res.data);
                    } else {
                        layer.msg(res.msg);
                    };
                }
            });
            //tab切换
            $(".tab>div").click(function() {
                var index = $(".tab div").index(this);
                if (index == 0) {
                    $('.show1').css('display', 'block')
                    $('.show2').css('display', 'none')
                    $('.show3').css('display', 'none')
                    $('.show4').css('display', 'none')
                } else if (index == 1) {
                    $('.show1').css('display', 'none')
                    $('.show2').css('display', 'block')
                    $('.show3').css('display', 'none')
                    $('.show4').css('display', 'none')
                } else if (index == 2) {
                    $('.show1').css('display', 'none')
                    $('.show2').css('display', 'none')
                    $('.show3').css('display', 'block')
                    $('.show4').css('display', 'none')
                } else if (index == 3) {
                    $('.show1').css('display', 'none')
                    $('.show2').css('display', 'none')
                    $('.show3').css('display', 'none')
                    $('.show4').css('display', 'block')
                }
                $(this).addClass('current').siblings().removeClass('current');
            });
            $('.btnSure1').click(function() {
                $('.show1').css('display', 'none')
                $('.show2').css('display', 'block')
                $('.show3').css('display', 'none')
                $('.show4').css('display', 'none')
                $('.tab div:nth-child(2)').addClass('current').siblings().removeClass('current');
                return false;
            })
            $('.btnSure2').click(function() {
                $('.show1').css('display', 'none')
                $('.show2').css('display', 'none')
                $('.show3').css('display', 'block')
                $('.show4').css('display', 'none')
                $('.tab div:nth-child(3)').addClass('current').siblings().removeClass('current');
                return false;
            })
            $('.btnSure3').click(function() {
                $('.show1').css('display', 'none')
                $('.show2').css('display', 'none')
                $('.show3').css('display', 'none')
                $('.show4').css('display', 'block')
                $('.tab div:nth-child(4)').addClass('current').siblings().removeClass('current');
                return false;
            })
            $('.btnSure4').click(function() {
                $('.show1').css('display', 'block')
                $('.show2').css('display', 'none')
                $('.show3').css('display', 'none')
                $('.show4').css('display', 'none')
                $('.tab div:nth-child(1)').addClass('current').siblings().removeClass('current');
                return false;
            })
            $('.btnSure5').click(function() {
                $('.show1').css('display', 'none')
                $('.show2').css('display', 'block')
                $('.show3').css('display', 'none')
                $('.show4').css('display', 'none')
                $('.tab div:nth-child(2)').addClass('current').siblings().removeClass('current');
                return false;
            })
            $('.btnSure6').click(function() {
                $('.show1').css('display', 'none')
                $('.show2').css('display', 'none')
                $('.show3').css('display', 'block')
                $('.show4').css('display', 'none')
                $('.tab div:nth-child(3)').addClass('current').siblings().removeClass('current');
                return false;
            })
        })
    }
</script>