<style>
    .layui-layer-admin .layui-layer-content {
        padding: 0 20px!important;
    }
    
    .layui-form-item .layui-input-inline {
        width: 100px;
    }
    
    .layui-upload img {
        border: 1px solid #ccc;
    }
    
    .del {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -20px;
        right: -20px;
        border-radius: 50%;
    }
</style>
<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <form class="layui-form" action="" style="padding:20px 0 0">

        <div class="layui-form-item">
            <label class="layui-form-label">上级分类：</label>
            <div class="layui-input-inline" style="width:300px;">
                <select name="parent" id="options" lay-verify="required">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" style="width:300px;" value="{{d.params.name?d.params.name:''}}" lay-verify="required" autocomplete="off" placeholder="请输入分类名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类图标：</label>
            <div class="layui-upload layui-input-inline">
                <img src="/ShptControl/src/images/upImg.png" class="layui-upload-img" id="uploadImg" style='width:96px;height:96px;cursor: pointer;'>
            </div>
            <div style="color:rgba(212, 48, 48, 1);display:inline-block">
                <p>提示：建议图片尺寸100*100</p>
                <p>支持png、jpg格式</p>
                <p>透明背景的图片更好</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="number" name="sort" value="{{d.params.sort?d.params.sort:''}}" style="width:300px;" lay-verify="required" autocomplete="off" placeholder="请输入排序值" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="width:200px;margin:0 auto;">
                <button type="submit" class="layui-btn" style="width:100%;" lay-submit="" lay-filter="submit">确定</button>
            </div>
        </div>
    </form>
</script>
<script>
    layui.data.sendParams = function(params) {
        layui.use(['admin', 'element', 'upload', 'form', 'table'], function() {
            var $ = layui.$;
            var admin = layui.admin;
            var upload = layui.upload;
            var upload = layui.upload;
            var table = layui.table;
            var form = layui.form;
            var class_img = ''
            var type = ''
            var id = ''
            if (params.id) {
                class_img = params.img
                type = params.parent
                id = params.id
                $('#uploadImg').attr("src", layui.setter.CDN + params.img);
            }
            admin.req({
                    url: layui.setter.requestUrl + 'api.php?c=config_classify/getLevelOne',
                    success: function(res) {
                        if (res.code == 0) {
                            if (params.id) {
                                res.data.forEach(item => {
                                    if (type == item.id) {
                                        $('#options').append(
                                            `<option value="${item.id}" selected>${item.name}</option>`
                                        )
                                    } else {
                                        $('#options').append(
                                            `<option value="${item.id}">${item.name}</option>`
                                        )
                                    }
                                });
                            } else {
                                res.data.forEach(item => {
                                    $('#options').append(
                                        `<option value="${item.id}">${item.name}</option>`
                                    )
                                });
                            }
                            form.render()
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                })
                //分类图标
            upload.render({
                elem: '#uploadImg',
                url: layui.setter.requestUrl + 'api.php?c=uploadImg/uploadImage',
                data: {
                    module: 'level'
                },
                drag: true,
                done: function(res, index, upload) { //上传后的回调
                    if (res.code == 0) {
                        $('#uploadImg').attr("src", layui.setter.CDN + res.data);
                        class_img = res.data
                    } else {
                        layer.msg(res.msg);
                    };
                }
            });

            //保存
            form.on('submit(submit)', function(data) {
                if (type != data.field.parent) {
                    data.field.parent = data.field.parent
                } else {
                    data.field.parent = type
                }
                data.field.img = class_img
                data.field.id = id
                data.field.level = '2'
                delete data.field.file
                if (data.field.img == '') {
                    layer.msg('请上传分类图标');
                    return false;
                }
                admin.req({
                    url: layui.setter.requestUrl + 'api.php?c=config_classify/addEditClassify',
                    data: data.field,
                    success: function(res) {
                        if (res.code == 0) {
                            layer.msg(res.msg);
                            layer.closeAll();
                            parent.layui.table.reload("table2");
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                })
                return false;
            })
        })
    }
</script>