<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">审核状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" title="通过" checked lay-filter="radio">
                <input type="radio" name="type" value="2" title="拒绝" lay-filter="radio">
            </div>
        </div>
        <div class="layui-form-item zone" style="display:none">
            <label class="layui-form-label">选择分区：</label>
            <div class="layui-input-inline">
                <select name="goods_zone" class="goods_zone" lay-filter="select1">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item tag" style="display:none">
            <label class="layui-form-label">选择标签：</label>
            <div class="layui-input-inline">
                <select name="goods_tag" class="goods_tag" lay-filter="select1">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item reason" style="display:none">
            <label class="layui-form-label">拒绝原因：</label>
            <div class="layui-input-block">
                <textarea name="refuse_reason" id="" cols="30" rows="10" placeholder="输入拒绝原因"
                    style="padding:10px"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="position:absolute;left:50px;bottom:30px">
            <div class="layui-input-block" style="width:200px;">
                <button type="submit" class="layui-btn" style="width:100%;" lay-submit=""
                    lay-filter="submit">确定</button>
            </div>
        </div>
    </form>
</script>


<script>
    layui.data.sendParams = function (params) {
        layui.use(['admin', 'element', 'form'], function () {
            var admin = layui.admin;
            var form = layui.form;
            var $ = layui.jquery,
                element = layui.element;
            form.render()
            //判断是否显示分区
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=goods_zone/getGoodsZone',
                success: function (res) {
                    console.log(res)
                    if (res.code == 0) {
                        if (res.data.length != 0) {
                            $('.zone').css('display', 'block')
                            res.data.forEach(item => {
                                $('.goods_zone').append(
                                    `<option value="${item.zone_index}">${item.zone_name}</option>`
                                )
                            });
                            form.render()
                        }
                    }
                }
            })
            //判断是否显示标签
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=goods_tag/getGoodsTag',
                success: function (res) {
                    if (res.code == 0) {
                        if (res.data.length != 0) {
                            $('.tag').css('display', 'block')
                            res.data.forEach(item => {
                                $('.goods_tag').append(
                                    `<option value="${item.tag_index}">${item.tag_name}</option>`
                                )
                            });
                            form.render()
                        }
                    }
                }
            })
            //切换单选按钮
            form.on('radio(radio)', function (data) {
                if (data.value == 2) {
                    $('.reason').css('display', 'block')
                    $('.zone').css('display', 'none')
                    $('.tag').css('display', 'none')
                } else {
                    $('.reason').css('display', 'none')
                    $('.zone').css('display', 'block')
                    $('.tag').css('display', 'block')
                }
            });


            //提交
            form.on('submit(submit)', function (data) {
                data.field.goods_index = params.goods_index
                if (data.field.type == 1) {
                    if (data.field.goods_zone == '') {
                        layer.msg('请选择分区');
                        return false;
                    } else {
                        data.field.refuse_reason = ''
                        admin.req({
                            url: layui.setter.requestUrl +
                                'api.php?c=supplier_goods/changeGoods',
                            data: data.field,
                            success: function (res) {
                                if (res.code == 0) {
                                    layer.msg(res.msg);
                                    layer.closeAll();
                                    parent.layui.table.reload("goodsTable1");
                                } else {
                                    layer.msg(res.msg);
                                }
                            }
                        })
                    }
                } else {
                    if (data.field.refuse_reason == '') {
                        layer.msg('请输入拒绝原因');
                        return false;
                    } else {
                        data.field.goods_zone = ''
                        data.field.goods_tag = ''
                        admin.req({
                            url: layui.setter.requestUrl +
                                'api.php?c=supplier_goods/changeGoods',
                            data: data.field,
                            success: function (res) {
                                if (res.code == 0) {
                                    layer.msg(res.msg);
                                    layer.closeAll();
                                    parent.layui.table.reload("goodsTable1");
                                } else {
                                    layer.msg(res.msg);
                                }
                            }
                        })
                    }
                }

                return false;
            });

        })
    }
</script>