<style>
    .btn1 .layui-table-cell {
        display: block;
        height: 50px !important;
    }
    
    .tabMsgifrim {
        display: flex;
        padding: 20px;
    }
    
    .tabMsgifrim>div {
        padding: 0px 5px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        color: rgba(42, 130, 228, 1);
        border: 1px solid rgba(42, 130, 228, 1);
        cursor: pointer;
        margin-left: -1px;
    }
    
    .tabMsgifrim .current {
        color: #fff;
        background-color: rgba(42, 130, 228, 1);
    }
    
    .commodityList {
        display: flex;
        align-items: center;
        padding: 5px;
    }
    /* 下拉多级选择 */
    
    .layui-rc-cascader {
        position: relative;
        font-size: 14px;
        line-height: 40px;
    }
    
    .cascader-input {
        cursor: pointer;
        position: relative;
        width: 100%;
    }
    
    .cascader-input>input {
        cursor: pointer;
        user-select: none;
    }
    
    .cascader-input__inner {
        text-overflow: ellipsis;
    }
    
    .cascader-input--suffix>.cascader-input__inner {
        padding-right: 32px;
    }
    
    .cascader-input.focus .cascader-input__inner {
        border-color: #5FB878 !important;
    }
    
    .cascader-input__suffix {
        position: absolute;
        width: 36px;
        height: 100%;
        right: 0;
        top: 0;
        text-align: center;
        color: #c0c4cc;
        transition: all .3s;
        pointer-events: none;
        cursor: pointer;
    }
    
    .cascader-input.focus .cascader-input__suffix {
        transform: rotate(180deg);
    }
    
    .cascader-dropdown {
        display: none;
        position: absolute;
        left: 0;
        top: 42px;
        padding: 5px 0;
        z-index: 899;
    }
    
    .layui-selectup .cascader-dropdown {
        top: auto;
        bottom: 42px;
    }
    
    .cascader-input.focus+.cascader-dropdown {
        display: block;
    }
    
    .cascader-dropdown>.cascader-dropdown-panel {
        display: flex;
        flex-flow: row;
        border: 1px solid #d2d2d2;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
        box-sizing: border-box;
    }
    
    .cascader-dropdown-panel>.cascader-dropdown-dl {
        min-width: 180px;
        min-height: 180px;
        max-height: 300px;
        overflow-y: auto;
        box-sizing: border-box;
        color: #606266;
        border-right: 1px solid #d2d2d2;
    }
    
    .cascader-dropdown-dl {
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .cascader-dropdown-dl::-webkit-scrollbar {
        display: none;
    }
    
    .cascader-dropdown-dl:last-child {
        border-right: none;
    }
    
    .cascader-dropdown-dd {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 40px;
        line-height: 40px;
        outline: none;
        color: #606266;
        user-select: none;
    }
    
    .cascader-dropdown-dd:hover {
        transition: .5s all;
        background-color: #f2f2f2;
    }
    
    .cascader-dropdown-dd.active,
    .cascader-dropdown-dd.in-active {
        background-color: #5FB878;
        color: #fff;
    }
    
    .cascader-dropdown-dd>span {
        flex: 1;
        padding-right: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .cascader-dropdown-dd.selected {
        color: #5FB878;
        font-weight: 600;
    }
    
    .cascader-dropdown-dd .layui-icon-ok {
        display: none;
    }
    
    .cascader-dropdown-dd.selected .layui-icon-ok {
        display: inline-block;
    }
    
    .mdBox {
        border-right: 1px solid #ccc;
        text-align: center;
        padding: 10px 20px;
        margin-bottom: 15px;
    }
    
    .main {
        display: flex;
    }
</style>
<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <div class="layui-fluid">
        <div class="layui-card" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4)">
            <div class="layui-row">
                <div class=" layui-col-md2" style=" height: 30px;line-height: 30px; padding: 20px;font-size: 18px;font-weight: 600;">
                    数据明细
                </div>
                <div class=" layui-col-md10" style="display: flex;justify-content: flex-end;">
                    <!-- <div class="layui-inline" style="margin-top: 18px;">
                    <label class="layui-form-label">时间段查询</label>
                    <div class="layui-input-inline">
                        <input type="text" name="time" class="layui-input" id="testTime" placeholder=" - ">
                    </div>
                </div> -->
                    <div class="layui-inline">
                        <div class="tabMsgifrim ">
                            <div class="current" data-index="5">全部</div>
                            <div data-index="1">今日</div>
                            <div data-index="2">昨日</div>
                            <div data-index="3">本周</div>
                            <div data-index="4">近30天</div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- 统计 -->
            <div style="padding-top: 15px;">
                <div class="layui-row main" style="justify-content: space-around;">

                </div>
            </div>
        </div>


        <div style="width: 100%;">
            <div style=" height: 30px;line-height: 30px; padding: 20px;font-size: 18px;font-weight: 600;">
                提现记录
            </div>
            <div style="display: flex;">
                <div style="margin-top: 18px;">
                    <label style="width: 62px;" class="layui-form-label">时间筛选</label>
                    <div class="layui-input-inline">
                        <input type="text" name="time" class="layui-input" id="testTime" placeholder=" - ">
                    </div>
                </div>
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search9" style="margin: 19px;">搜索</button>
            </div>

        </div>
        <table id="dataList" lay-filter="dataList"></table>
    </div>
</script>


<script>
    layui.data.sendParams = function(params) {
        layui.use(['public', 'admin', 'form', 'contlist', 'table', 'laydate', 'common', 'jquery', 'rate'],
            function() {
                var $ = layui.jquery,
                    form = layui.form,
                    admin = layui.admin,
                    common = layui.common,
                    laydate = layui.laydate,
                    view = layui.view,
                    rate = layui.rate,
                    table = layui.table;
                form.render();
                let dataForm = {
                    id: params.id,
                    time_start: '',
                    time_end: ''
                }


                //数据明细tab
                $(".tabMsgifrim>div").click(function() {
                    var index = $(".tabMsgifrim div").index(this);
                    $(this).addClass('current').siblings().removeClass('current');
                    if ($(this).attr('data-index') === '1') { //=1 今天 =2昨天 =3近7天 =4近三十天 =5全部
                        facilitator_statistics(1)
                    } else if ($(this).attr('data-index') === '2') {
                        facilitator_statistics(2)
                    } else if ($(this).attr('data-index') === '3') {
                        facilitator_statistics(3)
                    } else if ($(this).attr('data-index') === '4') {
                        facilitator_statistics(4)
                    } else if ($(this).attr('data-index') === '5') {
                        facilitator_statistics(5)
                    }
                });
                //日期范围
                laydate.render({
                    elem: '#testTime',
                    type: 'datetime',
                    range: true,
                    trigger: 'click',
                    format: 'yyyy/M/d',
                    change: function(value, date, endDate) {

                    },
                    done: function(value, date, endDate) {
                        if (!value) {
                            $("input[name=testInput]").val("");
                            dataForm.time_start = '';
                            dataForm.time_end = '';
                        } else {
                            dataForm.time_start = new Date(value.split('-')[0]).getTime() / 1000;
                            dataForm.time_end = new Date(value.split('-')[1]).getTime() / 1000;
                        }
                    }
                });
                //搜索
                form.on('submit(search9)', function(data) {
                    render_table1(dataForm);
                })
                facilitator_statistics(5);
                //统计
                function facilitator_statistics(type) {
                    admin.req({
                        url: layui.setter.requestUrl +
                            'api.php?c=mall_facilitator/facilitator_statistics',
                        data: {
                            id: params.id,
                            type: type,
                        },
                        success: function(res) {
                            $('.main').empty();
                            $('.main').append(`
                            <div class="mdBox" >
                                邀请好友
                                <i class="layui-icon layui-icon-about" title="邀请好友"></i>
                                <div>${res.data.count}</div>
                            </div>
                            <div class="mdBox">
                                参与次数
                                <i class="layui-icon layui-icon-about" title="参与次数"></i>
                                <div>${res.data.count2}</div>
                            </div>
                            <div class="mdBox">
                                中奖次数
                                <i class="layui-icon layui-icon-about" title="中奖次数"></i>
                                <div>${res.data.count3}</div>
                            </div>
                            <div class="mdBox">
                                鸿运勋章数量
                                <i class="layui-icon layui-icon-about" title="鸿运勋章数量"></i>
                                <div>${res.data.count4}</div>
                            </div>
                        
                            <div   style="text-align: center;padding: 10px 20px;">
                                服务费
                                <i class="layui-icon layui-icon-about" title="服务费"></i>
                                <div>${res.data.count5 /100}</div>
                            </div>
                            `);

                        }
                    })
                }



                //渲染表格数据
                var render_table1 = function(data) {
                        table.render({
                            elem: '#dataList',
                            url: layui.setter.requestUrl +
                                'api.php?c=mall_facilitator/facilitator_withdraw',
                            where: data,
                            cols: [
                                [{
                                    field: 'extract_time',
                                    title: '提现时间',
                                    align: 'center',
                                    sort: true,
                                    templet: function(d) {
                                        return layui.common.createTime(d
                                            .extract_time)
                                    }
                                }, {
                                    field: 'extract_before',
                                    title: '提现前金额（元）',
                                    align: 'center',
                                    templet: function(d) {
                                        return d.extract_before / 100
                                    }

                                }, {
                                    field: 'extract_money',
                                    title: '提现金额（元）',
                                    align: 'center',
                                    templet: function(d) {
                                        return d.extract_money / 100
                                    }
                                }, {
                                    field: 'extract_later',
                                    title: '提现后金额（元）',
                                    align: 'center',
                                    templet: function(d) {
                                        return d.extract_later / 100
                                    }
                                }, {
                                    field: 'payment_status',
                                    title: '状态',
                                    align: 'center',
                                    templet: function(d) {
                                        if (d.payment_status == 0) {
                                            return '待打款'
                                        } else if (d.payment_status == 1) {
                                            return '打款完成'
                                        } else if (d.payment_status == 2) {
                                            return '打款失败'
                                        } else if (d.payment_status == 3) {
                                            return '暂缓'
                                        }

                                    }
                                }]
                            ],
                            page: true,
                            parseData: function(res) {
                                console.log(res)
                                $('.status1').html('待审核商品' + '&nbsp;' + res.data
                                    .wait_count)
                                $('.status2').html('出售中商品' + '&nbsp;' + res.data
                                    .success_count)
                                $('.status3').html('未通过审核商品' + '&nbsp;' + res.data
                                    .fail_count)
                                $('.status4').html('已下架商品' + '&nbsp;' + res.data
                                    .down_count)
                                return {
                                    "count": res.count, //解析接口状态
                                    "code": res.code, //解析接口状态
                                    "data": res.data //解析数据列表
                                };
                            },
                            //解决高度自适应固定的列高度不一致
                            done: function(res, curr, count) {
                                $(".layui-table-main  tr").each(function(index, val) {
                                    $($(".layui-table-fixed .layui-table-body tbody tr")[
                                        index]).height($(val).height());
                                });
                            }
                        });
                    }
                    //先自调用请求渲染数据
                render_table1(dataForm);



            });
    }
</script>