<style>
    .layui-table-cell {
        display: block;
        height: auto !important;
        line-height: 20px !important;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>运营管理</cite></a>
        <a><cite>推荐官管理</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
                class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite
                id="addBook">点击收藏</cite></a>
    </div>
</div>
<div class="">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto form" style="background: #fff;margin:10px 0">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">搜索类型：</label>
                <div class="layui-input-inline">
                    <select name="type" id="">
                        <option value="">全部</option>
                        <option value="1">昵称</option>
                        <option value="2">手机号</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="content" style="width:200px;" autocomplete="off" placeholder="请输入内容"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">升级时间：</label>
                <div class="layui-input-inline">
                    <input type="text" name="time" class="layui-input" id="testTime" placeholder=" 开始时间-结束时间 ">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search6">
                    搜索
                </button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="recommendTable" lay-filter="recommendTable"></table>
</div>
<script type="text/javascript">
    layui.use('recommendManage', layui.factory('recommendManage'));
</script>