<style>
    .layui-table-cell {
        display: block;
        height: auto !important;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>财务管理</cite></a>
        <a><cite>消费金交易记录</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
                class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite
                id="addBook">点击收藏</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card" style="padding-bottom: 20px;">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 85px;">搜索类型</label>
                    <div class="layui-input-inline">
                        <select name="type" lay-filter="type">
                            <option value="">请选择</option>
                            <option value="1">订单号</option>
                            <option value="2">昵称</option>
                            <option value="3">手机号</option>
                            <option value="4">店铺名称</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="请输入内容" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:85px">支付时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="time" class="layui-input" id="test1" placeholder="请选择支付时间">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="table" lay-filter="table"></table>
</div>

<script>
    layui.use('contlist', layui.factory('contlist')).use(['admin', 'contlist', 'md5', 'table', 'laydate', 'common',
            'upload'
        ],
        function () {
            var $ = layui.$,
                admin = layui.admin,
                laydate = layui.laydate,
                view = layui.view,
                table = layui.table,
                upload = layui.upload,
                form = layui.form,
                IsshowAnNiu = layui.common.IsshowAnNiu;
            var menuPermissions = IsshowAnNiu('addviews'); //菜单权限
            var imgList = [];
            var imgStr = ''
            var userId = ''
            form.render();
            var field = {
                type: '',
                name: '',
                time_start: '',
                time_end: '',
            }
            //日期范围
            laydate.render({
                elem: '#test1',
                range: true,
                format: 'yyyy/MM/dd',
            });
            //监听搜索
            form.on('submit(search)', function (data) {
                if (data.field.time != '') {
                    field.time_start = data.field.time.split('-')[0].trim()
                    var date = new Date(field.time_start);
                    field.time_start = date.getTime() / 1000
                    field.time_end = data.field.time.split('-')[1].trim()
                    var date = new Date(field.time_end);
                    field.time_end = date.getTime() / 1000
                } else {
                    field.time_start = ''
                    field.time_end = ''
                }
                field.name = data.field.name
                field.type = data.field.type
                render_table(field);
            });
            //渲染表格数据
            var render_table = function (data) {
                table.render({
                    elem: '#table',
                    url: layui.setter.requestUrl + 'api.php?c=finance/ConsumptionList',
                    where: data,
                    cols: [
                        [{
                            field: 'order_index',
                            title: 'ID',
                            align: 'center',
                        }, {
                            field: 'order_id',
                            title: '交易单号',
                            align: 'center',
                        }, {
                            field: 'merchant_name',
                            title: '店铺名称',
                            align: 'center',
                        }, {
                            title: '店家联系人',
                            align: 'center',
                            templet: function (d) {
                                var str =
                                    `<div>姓名:${d.merchant_contacts}</div><div>电话:${d.merchant_tel}</div>`
                                return str
                            }
                        }, {
                            title: '支付人信息',
                            align: 'center',
                            templet: function (d) {
                                var str =
                                    `<div>昵称:${d.name ? d.name : '无'}</div><div>手机号:${d.phone ? d.phone : '无'}</div>`
                                return str
                            }
                        }, {
                            field: 'order_consumption',
                            title: '支付消费金',
                            align: 'center',
                            templet: function (d) {
                                return d.order_consumption / 100
                            }
                        }, {
                            field: 'order_service_price',
                            align: 'center',
                            title: '支付服务费',
                            templet: function (d) {
                                return d.order_service_price / 100
                            }
                        }, {
                            field: 'payment_time',
                            title: '支付时间',
                            align: 'center',
                            width: 180,
                            templet: function (d) {
                                return d.payment_time == '0' ? '暂无' : layui.common
                                    .createTime(d.payment_time)
                            }
                        }]
                    ],
                    page: true
                });
            }
            //先自调用请求渲染数据
            render_table(field);

        });
</script>