<style>
    .layui-table-cell {
        display: block;
        height: auto !important;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>财务管理</cite></a>
        <a><cite>消费金解锁记录</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
                class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite
                id="addBook">点击收藏</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card" style="padding-bottom: 20px;">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 85px;">商家名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="supplier_name" placeholder="请输入内容" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 85px;">商家手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="frequent_phone" placeholder="请输入内容" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 85px;">会员手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phone" placeholder="请输入内容" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:85px">支付时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="time" class="layui-input" id="test1" placeholder="请选择支付时间">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="table" lay-filter="table"></table>
</div>

<script>
    layui.use('contlist', layui.factory('contlist')).use(['admin', 'contlist', 'md5', 'table', 'laydate', 'common',
            'upload'
        ],
        function () {
            var $ = layui.$,
                admin = layui.admin,
                laydate = layui.laydate,
                view = layui.view,
                table = layui.table,
                upload = layui.upload,
                form = layui.form,
                IsshowAnNiu = layui.common.IsshowAnNiu;
            var menuPermissions = IsshowAnNiu('addviews'); //菜单权限
            var imgList = [];
            var imgStr = ''
            var userId = ''
            form.render();
            var field = {
                supplier_name: '',
                frequent_phone: '',
                phone: '',
                time_start: '',
                time_end: '',
            }
            //日期范围
            laydate.render({
                elem: '#test1',
                range: true,
                format: 'yyyy/MM/dd',
            });
            //监听搜索
            form.on('submit(search)', function (data) {
                if (data.field.time != '') {
                    field.time_start = data.field.time.split('-')[0].trim()
                    var date = new Date(field.time_start);
                    field.time_start = date.getTime() / 1000
                    field.time_end = data.field.time.split('-')[1].trim()
                    var date = new Date(field.time_end);
                    field.time_end = date.getTime() / 1000
                } else {
                    field.time_start = ''
                    field.time_end = ''
                }
                field.supplier_name = data.field.supplier_name
                field.consumer_phone = data.field.consumer_phone
                field.phone = data.field.phone
                render_table(field);
            });
            //渲染表格数据
            var render_table = function (data) {
                delete data.time
                data.time_start = field.time_start;
                data.time_end = field.time_end;
                table.render({
                    elem: '#table',
                    url: layui.setter.requestUrl + 'api.php?c=finance/IntegralList',
                    where: data,
                    cols: [
                        [{
                            field: 'order_id',
                            title: '订单号',
                            align: 'center',
                            sort: 'true',
                        }, {
                            field: 'name',
                            title: '会员信息',
                            align: 'center',
                            templet: function (d) {
                                var str =
                                    `<div>姓名:${d.name}</div><div>手机号:${d.phone}</div>`
                                return str
                            }
                        }, {
                            field: 'name',
                            title: '商家信息',
                            align: 'center',
                            templet: function (d) {
                                var str =
                                    `<div>商家名称：${d.supplier_name}</div><div>联系方式：${d.frequent_phone}</div>`
                                return str
                            }
                        }, {
                            field: 'goods_count',
                            title: '商品数量',
                            align: 'center',
                            sort: 'true',
                        }, {
                            field: 'order_total_price',
                            align: 'center',
                            title: '支付金额',
                            sort: 'true',
                            templet: function (d) {
                                return d.order_total_price / 100
                            }
                        }, {
                            field: 'name',
                            title: '支付方式',
                            align: 'center',
                            templet: function (d) {
                                if (d.order_payment == 0) {
                                    return '余额支付'
                                } else if (d.order_payment == 1) {
                                    return '支付宝app'
                                } else if (d.order_payment == 2) {
                                    return '微信app'
                                } else if (d.order_payment == 3) {
                                    return '微信h5'
                                } else if (d.order_payment == 4) {
                                    return '微信公众号 '
                                } else if (d.order_payment == 5) {
                                    return '支付宝web'
                                } else if (d.order_payment == 8) {
                                    return '未支付'
                                }
                            }
                        }, {
                            field: 'payment_time',
                            title: '支付时间',
                            align: 'center',
                            sort: 'true',
                            width: 180,
                            templet: function (d) {
                                return d.payment_time == '0' ? '暂无' : layui.common
                                    .createTime(d.payment_time)
                            }
                        }, {
                            field: 'integral_pay',
                            align: 'center',
                            sort: 'true',
                            title: '获得积分',
                            templet: function (d) {
                                return d.integral_pay / 100
                            }
                        }, ]
                    ],
                    page: true
                });
            }
            //先自调用请求渲染数据
            render_table(field);

        });
</script>