<style>
  .box_title {
    background: #F2F3F5;
    padding: 10px;
  }

  p {
    margin: 10px 0;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
  }

  .box_center_address {
    align-items: flex-start;
  }

  .box_center_address .erwm {
    width: 130px;
    height: 130px;
    background: pink;
  }

  .box_center {
    background: #F2F3F5;
    padding: 10px;
    margin: 10px 0;
  }

  a:hover {
    color: orange;
  }
</style>
<div class="box_title">
  <p>项目名称：V链总后台</p>
  <p>版 本 号：v1.0</p>
  <p>有效期至：2022年8月31日</p>
</div>
<div class="box_center">
  <p>联系电话：400-8086-828</p>
  <p>电子邮箱：<a href="mailto:support@jianyunkeji.net" target="_blank">support@jianyunkeji.net</a></p>
  <p>官网地址：<a href="http://www.jianyunkeji.cn" target="_blank">www.jianyunkeji.cn</a></p>
  <div class="box_center_address">
    <p>技术支持</p>
    <div style="display: flex;justify-content: space-around;margin-top: 10px;">
      <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
        <div style="background: skyblue;width: 110px;height:110px;">
          <img src="/marketadmin/src/images/position.png" alt="" style="width: 100%;height:100%">
        </div>
        <div style="margin:10px 0">联系地址</div>
      </div>
      <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
        <div style="background: slateblue;width: 110px;height:110px;">
          <img src="/marketadmin/src/images/gxm.png" alt="" style="width: 100%;height:100%">
        </div>
        <div style="margin:10px 0">在线咨询</div>
      </div>
    </div>
  </div>
  <p style="margin-top:30px;font-weight:400;">关注我们</p>
  <div style="display: flex;justify-content: space-around;margin-top: 10px;">
    <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
      <div style="background: skyblue;width: 110px;height:110px;">
        <img src="/marketadmin/src/images/public.png" alt="" style="width: 100%;height:100%">
      </div>
      <div style="margin:10px 0">扫码关注公众号</div>
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
      <div style="background: slateblue;width: 110px;height:110px;">
        <img src="/marketadmin/src/images/ljwe.png" alt="" style="width: 100%;height:100%">
      </div>
      <div style="margin:10px 0">扫码了解我们</div>
    </div>
  </div>
</div>