<style>
    .tabMsg {
        display: flex;
        padding: 20px;
    }
    
    .tabMsg>div {
        width: 200px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        color: rgba(42, 130, 228, 1);
        border: 1px solid rgba(42, 130, 228, 1);
        cursor: pointer;
        margin-left: -1px;
    }
    
    .tabMsg .current {
        color: #fff;
        background-color: rgba(42, 130, 228, 1);
    }
    
    .form {
        background-color: #fff;
    }
    
    .layui-table-cell {
        height: auto !important;
        line-height: 20px !important;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>营销管理</cite></a>
        <a><cite>拼购活动管理</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
                class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite
                id="addBook">点击收藏</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto form" lay-filter="app-content-list">
        <div class="layui-form-item">
            <label class="layui-form-label">地区：</label>
            <div class="layui-input-inline">
                <select name="province" class="province" lay-filter="province">
                        <option value="">请选择省</option>
                    </select>
            </div>
            <div class="layui-input-inline">
                <select name="city" class="city" lay-filter="city">
                        <option value="">请选择市</option>
                    </select>
            </div>
            <div class="layui-input-inline">
                <select name="district" class="district" lay-filter="district">
                        <option value="">请选择县/区</option>
                    </select>
            </div>
            <!-- <div class="layui-inline">
                <label class="layui-form-label">商品名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="goods_name" class="layui-input" placeholder=" 请输入店铺名称">
                </div>
            </div> -->
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>搜索
                </button>
            </div>
        </div>
    </div>
    </form>
    <table class="layui-hide" id="commentTable" lay-filter="commentTable"></table>
</div>

<script>
    layui.use('contlist', layui.factory('contlist')).use(['admin', 'contlist', 'table', 'laydate', 'common', 'public', 'form'], function() {
        var $ = layui.$,
            admin = layui.admin,
            laydate = layui.laydate,
            view = layui.view,
            table = layui.table,
            form = layui.form,
            IsshowAnNiu = layui.common.IsshowAnNiu;
        var menuPermissions = IsshowAnNiu('addviews'); //菜单权限
        var base = new layui.public.Base64();
        var cols = []
        var tool = layui.public.tool;
        var base = new layui.public.Base64();
        var field = {
            goods_name: '',
            province: '',
            city: '',
            district: '',
        }
        tool.linkage({
            province: 'province',
            city: 'city',
            county: 'district',
            success: function(province, city, county) {
                console.log(province);
                console.log(city);
                console.log(county);
            }
        });
        form.on('submit(search)', function(data) {
            field.goods_name = data.field.goods_name;
            field.province = data.field.province;
            field.city = data.field.city;
            field.district = data.field.district;
            render_table(field);
            return false;
        });
        form.render()

        //渲染表格数据
        var render_table = function(data) {
                cols = [
                    [{
                            title: '序号 ',
                            align: 'center',
                            field: 'group_goods_id',
                            width: 80,
                            type: 'numbers'
                        }, {
                            field: 'group_name',
                            title: '地区',
                            align: 'center',
                            templet: function(d) {
                                return `${d.province_name}${d.city_name}${d.district_name}`
                            }
                        },
                        //  {
                        //     field: 'group_name',
                        //     title: '活动名称',
                        //     align: 'center',
                        // }, {
                        //     field: 'goods_name',
                        //     title: '商品名称',
                        //     align: 'center',
                        // }, {
                        //     field: 'goods_icon',
                        //     align: 'center',
                        //     title: '商品图片',
                        //     templet: function(d) {
                        //         if (d.goods_icon == '') {
                        //             return '暂无'
                        //         } else {
                        //             return `<button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event = 'enlarge'>查看</button>`
                        //         }
                        //     }
                        // }, 
                        {
                            field: 'start_time',
                            align: 'center',
                            title: '拼团开始时间',
                            templet: function(d) {
                                return layui.common.createTime(d.start_time)
                            }
                        }, {
                            field: 'end_time',
                            align: 'center',
                            title: '拼团结束时间',
                            templet: function(d) {
                                return layui.common.createTime(d.end_time)
                            }
                        },
                        // {
                        //     field: 'group_price',
                        //     align: 'center',
                        //     title: '拼团价格',
                        //     templet: function(d) {
                        //         return d.group_price / 100
                        //     }
                        // },
                        {
                            field: 'join_num',
                            align: 'center',
                            title: '参与人数'
                        }, {
                            field: 'get_num',
                            align: 'center',
                            title: '抢中人数'
                        }, {
                            field: 'zhang_num',
                            align: 'center',
                            title: '鸿运勋章奖励人数'
                        }, {
                            field: 'status',
                            align: 'center',
                            title: '活动状态'
                        }, {
                            fixed: 'right',
                            align: 'center',
                            title: '操作',
                            width: 320,
                            templet: function(d) {
                                return `
                                <button class="layui-btn" lay-event="details1">参与详情</button>
                                <button class="layui-btn" lay-event="details2" >拼中详情</button>
                                `
                            }
                        }
                    ]
                ]

                table.render({
                    elem: '#commentTable',
                    url: layui.setter.requestUrl + 'api.php?c=group_master/getGroupMasterList',
                    where: data,
                    cellMinWidth: 120,
                    cols: cols,
                    page: true,
                    parseData: function(res) {
                        // $('.wait_count').html('待审核' + '&nbsp;' + res.data.wait_count)
                        // $('.yyz').html('营业中' + '&nbsp;' + res.data.success_count)
                        return {
                            "count": res.count, //解析接口状态
                            "code": res.code, //解析接口状态
                            "data": res.data //解析数据列表
                        };
                    },
                });
            }
            //先自调用请求渲染数据
        render_table(field);
        table.on('tool(commentTable)', function(obj) { //注：tool table 是 table  lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent == 'enlarge') {
                data.img = data.goods_icon
                tool.lookBigImg(data.img.split(','));
            } else if (layEvent == 'details1') {
                admin.popup({
                    id: 'spro456456uct',
                    area: ['1200px', '800px'],
                    title: '参与详情',
                    success: function() {
                        var that = this;
                        view(that.id).render('template/marketing/detailsList', {
                            data: data,
                            type: 0
                        });
                    }
                });
            } else if (layEvent == 'details2') {
                admin.popup({
                    id: 'spro456456uct',
                    area: ['1200px', '800px'],
                    title: '拼中详情',
                    success: function() {
                        var that = this;
                        view(that.id).render('template/marketing/detailsList', {
                            data: data,
                            type: 1
                        });
                    }
                });
            }
        });
    });
</script>