<style>
    .tabMsg {
        display: flex;
        padding: 20px;
    }
    
    .tabMsg>div {
        width: 200px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        color: rgba(42, 130, 228, 1);
        border: 1px solid rgba(42, 130, 228, 1);
        cursor: pointer;
        margin-left: -1px;
    }
    
    .tabMsg .current {
        color: #fff;
        background-color: rgba(42, 130, 228, 1);
    }
    
    .form {
        background-color: #fff;
    }
    
    .layui-table-cell {
        height: auto !important;
        line-height: 20px !important;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>营销管理</cite></a>
        <a><cite>轻松拼团管理</cite></a>
        <a href="javascript:;" style="float: right;margin: 0 20px;" id='collection'><i
                class="layui-icon layui-icon-rate tubiao" style="font-size: 16px;color:red"></i><cite
                id="addBook">点击收藏</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="tabMsg">
            <div class="current wait_count" data-index="0">正在参与中的轻松拼团</div>
            <div class="yyz" data-index="1">已关闭的轻松拼团</div>
        </div>
    </div>
    <div class="layui-form layui-card-header layuiadmin-card-header-auto form" lay-filter="app-content-list">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">会员昵称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" class="layui-input" placeholder=" 请输入内容">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">会员手机号:</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" class="layui-input" placeholder=" 请输入内容">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商品名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="goods_name" class="layui-input" placeholder=" 请输入内容">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" id="changeTime">开启时间：</label>
                <div class="layui-input-inline">
                    <input type="text" name="time" class="layui-input" id="testTime1" placeholder=" 请输入时间">
                </div>
            </div>

            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>搜索
                </button>
            </div>
        </div>
    </div>
    </form>
    <!-- <button class="layui-btn layuiadmin-btn-list exportForm" style="margin-top: 10px;">添加拼团商品</button> -->
    <table class="layui-hide" id="commentTable" lay-filter="commentTable"></table>
</div>

<script>
    layui.use('contlist', layui.factory('contlist')).use(['admin', 'contlist', 'table', 'laydate', 'common', 'public', 'form'], function() {
        var $ = layui.$,
            admin = layui.admin,
            laydate = layui.laydate,
            view = layui.view,
            table = layui.table,
            form = layui.form,
            IsshowAnNiu = layui.common.IsshowAnNiu;
        var menuPermissions = IsshowAnNiu('addviews'); //菜单权限
        var base = new layui.public.Base64();
        var cols = []
        var tool = layui.public.tool;
        var base = new layui.public.Base64();
        var field = {
                is_able: '0',
                goods_name: '',
                name: '',
                phone: '',
                start: '',
                end: ''
            }
            //tab切换
        $(".tabMsg>div").click(function() {
            var index = $(".tabMsg div").index(this);
            field.is_able = $(this).attr('data-index');
            if (field.is_able == 1) {
                $("#changeTime").html("开启时间：")
            } else {
                $("#changeTime").html("关闭时间：")
            }
            console.log($("#changeTime"));
            $(this).addClass('current').siblings().removeClass('current');
            render_table(field);
        });

        //日期范围
        laydate.render({
            elem: '#testTime1',
            type: 'datetime',
            range: true,
            trigger: 'click',
            format: 'yyyy/M/d',
            change: function(value, date, endDate) {

            },
            done: function(value, date, endDate) {
                if (!value) {
                    $("input[name=testInput]").val("");
                    field.start = '';
                    field.end = '';
                } else {
                    field.start = new Date(value.split('-')[0]).getTime() / 1000;
                    field.end = new Date(value.split('-')[1]).getTime() / 1000;
                }
            }
        });
        form.on('submit(search)', function(data) {
            field.goods_name = data.field.goods_name;
            field.name = data.field.name;
            field.phone = data.field.phone;
            render_table(field);
            return false;
        });
        form.render()

        //渲染表格数据
        var render_table = function(data) {
                cols = [
                    [{
                        title: 'ID',
                        align: 'center',
                        field: 'easy_index',
                        width: 80,
                    }, {
                        field: 'group_name',
                        title: '会员信息',
                        align: 'center',
                        templet: function(d) {
                            return `
                            <p>昵称:${d.name}</p>
                            <p>手机号:${d.phone}</p>
                            `
                        }
                    }, {
                        field: 'goods_name',
                        title: '默认地址',
                        align: 'center',
                        templet: function(d) {
                            return `
                           ${d.province_name}
                           ${d.city_name}
                           ${d.district_name}
                            `
                        }
                    }, {
                        field: 'consumption',
                        title: '拼团本金余额',
                        align: 'center',
                        templet: function(d) {
                            return d.consumption / 100
                        }
                    }, {
                        field: 'group_name',
                        title: '活动标题',
                        align: 'center',
                    }, {
                        field: 'group_goods_name',
                        title: '拼团商品名称',
                        align: 'center',
                    }, {
                        field: 'goods_icon',
                        align: 'center',
                        title: '商品图片',
                        templet: function(d) {
                            if (d.goods_icon == '') {
                                return '暂无'
                            } else {
                                return `<button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event = 'enlarge'>查看</button>`
                            }
                        }
                    }, {
                        field: 'join_num',
                        align: 'center',
                        title: '参与次数'
                    }, {
                        field: 'get_num',
                        align: 'center',
                        title: '抢中次数'
                    }, {
                        field: 'zhang',
                        title: '获得鸿运奖励次数',
                        align: 'center',
                    }, {
                        field: 'add_time',
                        align: 'center',
                        title: '添加时间',
                        templet: function(d) {
                            return layui.common.createTime(Math.floor(d.add_time / 1000))
                        }
                    }, {
                        align: 'center',
                        title: '操作',
                        width: 320,
                        templet: function(d) {
                            return `
                                <button class="layui-btn" lay-event="editor">编辑</button>
                                <button class="layui-btn" lay-event="stop" style="display:${d.is_able==1?'':'none'}">下架</button>
                                <button class="layui-btn" lay-event="start" style="display:${d.is_able==1?'none':''}">上架</button>
                                `
                        }
                    }]
                ]
                cols[0].pop()
                if (field.is_able == 0) {
                    cols[0].push({
                        field: 'add_time',
                        align: 'center',
                        title: '开启轻松拼购时间',
                        templet: function(d) {
                            return d.add_time == 0 ? '暂无' : layui.common.createTime(Math.floor(d.add_time / 1000))
                        }
                    })
                } else {
                    cols[0].push({
                        field: 'close_time',
                        align: 'center',
                        title: '关闭轻松拼购时间',
                        templet: function(d) {
                            return d.close_time == 0 ? '暂无' : layui.common.createTime(Math.floor(d.close_time))
                        }
                    })
                }
                table.render({
                    elem: '#commentTable',
                    url: layui.setter.requestUrl + 'api.php?c=group_easy/getGroupEasyList',
                    where: data,
                    cellMinWidth: 120,
                    cols: cols,
                    page: true,
                    parseData: function(res) {
                        // $('.wait_count').html('待审核' + '&nbsp;' + res.data.wait_count)
                        // $('.yyz').html('营业中' + '&nbsp;' + res.data.success_count)
                        return {
                            "count": res.count, //解析接口状态
                            "code": res.code, //解析接口状态
                            "data": res.data //解析数据列表
                        };
                    },
                });
            }
            //先自调用请求渲染数据
        render_table(field);
        table.on('tool(commentTable)', function(obj) { //注：tool table 是 table  lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent == 'enlarge') {
                data.img = data.goods_icon
                tool.lookBigImg(data.img.split(','));
            } else if (layEvent == 'editor') {
                admin.popup({
                    id: 'spro456456uct',
                    area: ['600px', '500px'],
                    title: '修改商品',
                    success: function() {
                        var that = this;
                        view(that.id).render('template/marketing/addset', {
                            data: data
                        });
                    }
                });
            } else if (layEvent == 'stop') {
                layer.confirm('真的要下架吗?', function(index) {
                    admin.req({
                        url: layui.setter.requestUrl + 'api.php?c=group_goods/changeGroupGoods',
                        data: {
                            group_goods_index: data.group_goods_index
                        },
                        success: function(res) {
                            if (res.code == 0) {
                                layer.msg(res.msg, {
                                    icon: 1
                                })
                                setTimeout(function() {
                                    layer.closeAll()
                                }, 1500)
                                layui.table.reload("commentTable");
                            }
                        }
                    })
                });
            } else if (layEvent == 'start') {
                layer.confirm('真的要上架吗?', function(index) {
                    admin.req({
                        url: layui.setter.requestUrl + 'api.php?c=group_goods/changeGroupGoods',
                        data: {
                            group_goods_index: data.group_goods_index
                        },
                        success: function(res) {
                            if (res.code == 0) {
                                layer.msg(res.msg, {
                                    icon: 1
                                })
                                setTimeout(function() {
                                    layer.closeAll()
                                }, 1500)
                                layui.table.reload("commentTable");
                            }
                        }
                    })
                });
            }
        });
        //添加商品
        // $('.exportForm').on('click', function() {
        //     admin.popup({
        //         id: 'sprouct',
        //         area: ['1200px', '600px'],
        //         title: '添加商品',
        //         success: function() {
        //             var that = this;
        //             view(that.id).render('template/marketing/addPinGoods', {
        //                 // data: merchant_id
        //             });
        //         }
        //     });
        // });
        //强制下架
        function qzxj(merchant_id, status) {
            layer.confirm(`确认${status == 5 ? '下架' : '上架'}吗？`, {
                btn: ['确定', '取消'] //按钮
            }, function(index) {
                admin.req({
                    url: layui.setter.requestUrl + 'api.php?c=merchant/offMerchant',
                    data: {
                        merchant_id: merchant_id,
                        type: status
                    },
                    done: function(res) {
                        if (res.code === 0) {
                            layer.closeAll();
                            layer.msg(res.msg);
                            render_table(field);
                        }
                    }
                });
            });
        }
        //年费缴纳记录
        function nfjn(merchant_id) {
            admin.popup({
                id: 'sprouct',
                area: ['1200px', '600px'],
                title: '缴纳记录',
                success: function() {
                    var that = this;
                    view(that.id).render('template/merchants/nfjn', {
                        data: merchant_id
                    });
                }
            });
        };
        //续交年费
        function xjnf(merchant_id, expire_time) {
            if (expire_time == -1) {
                layer.msg('当前年费已永久缴纳');
                return false;
            };
            admin.popup({
                id: 'sprouct',
                area: ['800px', '600px'],
                title: '续交年费',
                success: function() {
                    var that = this;
                    admin.req({
                        url: layui.setter.requestUrl + 'api.php?c=province_company/getYearPrice',
                        data: {
                            type: 1
                        },
                        success(res) {
                            view(that.id).render('template/merchants/xjnf', {
                                data: res.data,
                                merchant_id: merchant_id,
                                employee_type: layui.data(layui.setter.tableName).employee_type
                            });
                        }
                    })
                }
            });
        };
        //查看代理商资料或者审核
        function lookZl(data, isShenhe) {
            // isShenhe有参数就代表审核，没有就代表查看记录
            admin.popup({
                id: 'sprouct',
                area: ['800px', '600px'],
                title: '店铺资料',
                success: function() {
                    view(this.id).render('template/merchants/lookStore', {
                        data: data,
                        isShenhe: isShenhe
                    });
                }
            });
        };
    });
</script>