<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:115px">审核状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" title="通过" checked lay-filter="radio">
                <input type="radio" name="type" value="2" title="拒绝" lay-filter="radio">
            </div>
        </div>
        <div class="layui-form-item percent">
            <label class="layui-form-label" style="width:115px">消费金结算折扣：</label>
            <div class="layui-input-block">
                <input name="merchant_percent" id="" cols="30" rows="10" placeholder="输入内容"
                    style="padding:10px;margin-right:5px"></input>%
            </div>
        </div>
        <!-- <div class="layui-form-item percent">
            <label class="layui-form-label" style="width:115px">结算日期：</label>
            <div class="layui-input-block">
                <input name="merchant_percent" id="" cols="30" rows="10" placeholder="输入内容"
                    style="padding:10px;margin-right:5px"></input>天
            </div>
        </div>
        <div class="layui-form-item percent">
            <label class="layui-form-label" style="width:115px"></label>
            <div class="layui-input-block" style="color:red">
                比如7天：确认收货7天之后，给商家结算商品款项
            </div>
        </div> -->
        <div class="layui-form-item reason" style="display:none">
            <label class="layui-form-label" style="width:115px">拒绝原因：</label>
            <div class="layui-input-block">
                <textarea name="refuse_reason" id="" cols="30" rows="10" placeholder="输入拒绝原因"
                    style="padding:10px"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="position:absolute;left:50px;bottom:30px">
            <div class="layui-input-block" style="width:200px;">
                <button type="submit" class="layui-btn" style="width:100%;" lay-submit=""
                    lay-filter="submit">确定</button>
            </div>
        </div>
    </form>
</script>


<script>
    layui.data.sendParams = function (params) {
        layui.use(['admin', 'element', 'form'], function () {
            var admin = layui.admin;
            var form = layui.form;
            var $ = layui.jquery,
                element = layui.element;

            form.render()
            form.on('radio(radio)', function (data) {
                console.log(data);
                if (data.value == 2) {
                    $('.reason').css('display', 'block')
                    $('.percent').css('display', 'none')
                } else {
                    $('.reason').css('display', 'none')
                    $('.percent').css('display', 'block')
                }
            });
            form.on('submit(submit)', function (data) {
                if (data.field.type == 1 && data.field.merchant_percent == '') {
                    layer.msg('请输入结算折扣');
                    return false
                }
                if (data.field.type == 2 && data.field.refuse_reason == '') {
                    layer.msg('请输入拒绝原因');
                    return false
                }
                if (data.field.type == 1) {
                    data.field.refuse_reason = ''
                } else {
                    data.field.merchant_percent = ''
                }
                data.field.merchant_id = params.merchant_id
                admin.req({
                    url: layui.setter.requestUrl + 'api.php?c=merchant/changeMerchant',
                    data: data.field,
                    success: function (res) {
                        if (res.code == 0) {
                            layer.msg(res.msg);
                            layer.closeAll();
                            parent.layui.table.reload("tableShop1");
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                })
                return false;
            });

        })
    }
</script>