

<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <div class="layui-form" style="margin-top:20px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px">开卡银行：</label>
                <div class="layui-input-inline">
                    <select name="bank_id" id="bank_id">
                        <!-- <option value="">请选择</option> -->
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px">开户人姓名：</label>
                <div class="layui-input-inline">
                    <input type="text" name="card_holder" lay-verify="required" style="width:200px;"  autocomplete="off" placeholder="请输入内容" class="layui-input card_holder">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px">银行卡号：</label>
                <div class="layui-input-inline">
                    <input type="text" name="card_number" lay-verify="required" style="width:200px;"  autocomplete="off" placeholder="请输入内容" class="layui-input card_number">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px">确认银行卡号：</label>
                <div class="layui-input-inline">
                    <input type="text" name="re_card_number" lay-verify="required" style="width:200px;"  autocomplete="off" placeholder="请输入内容" class="layui-input re_card_number">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top:30px;text-align: center;">
            <div class="layui-inline">
                <button class="layui-btn layui-btn-lg" lay-submit='sure' lay-filter="sure">
                    确定
                </button>
            </div>
        </div>
    </div>

</script>
   

<script>
    layui.data.sendParams = function (params) {
        layui.use(['admin','element','form'], function () {
            var admin = layui.admin;
            var form = layui.form;
            var $ = layui.jquery,element = layui.element;
            var card_index=''
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=supplier/getBankList',
                success: function (res) {
                    if (res.code == 0) {
                        res.data.forEach(item => {
                            $("#bank_id").append(`<option value="${item.id}">${item.bank_name}</option>`)
                        });
                        
                        form.render()
                    } else {
                        layer.msg(res.msg);
                    }
                }
            })
            admin.req({
                url: layui.setter.requestUrl + 'api.php?c=supplier/SupplierCardList',
                data:{
                    supplier_id:params.supplier_id
                },
                success: function (res) {
                    if (res.code == 0) {
                        $('.card_holder').val(res.data.card_holder)
                        $('.card_number').val(res.data.card_number)
                        $('.re_card_number').val(res.data.re_card_number)
                        $('#bank_id').val(res.data.bank_id)
                        card_index=res.data.card_index
                        form.render()
                    } else {
                        layer.msg(res.msg);
                    }
                }
            })
            
            form.on('submit(sure)', function(data){
                if(data.field.re_card_number!=data.field.card_number){
                    layer.msg('银行卡号不匹配')
                    return false;
                }
                data.field.supplier_id=params.supplier_id
                data.field.card_index=params.card_index
                admin.req({
                    url: layui.setter.requestUrl + 'api.php?c=supplier/editBank',
                    data: data.field,
                    success: function (res) {
                        if (res.code == 0) {
                            layer.msg(res.msg);
                            layer.closeAll();
                            parent.layui.table.reload("shopTable2");
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                })
                return false;
            }); 

        })
    }
    
    

</script>